h4 {
  font-family: "Segoe UI";
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 4px;
}
.card__price__block {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  background: #fff;
}
.current__price > div {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  line-height: 24px;
}
.card__price__block {
  padding: 16px 24px 24px;
  box-sizing: border-box;
}
.current__price h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 6px;
  height: min-content;
  display: flex;
  justify-content: space-between;
}
.current__price h3 > div span:nth-child(2) {
  font-size: 20px;
}
.transport {
  margin-top: 25px;
}
.card__payment {
  margin-top: 24px;
}
.card__payment h4 span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.card__payment h4 img {
  margin-right: 2px;
}
.transport span {
  font-weight: 400;
  font-size: 13px;
}
.transport h4 span {
  font-weight: 700;
  font-size: 16px;
  font-weight: 700;
}
.transport h4 img {
  margin: 4px 2px 0px 0px;
}
.transport div {
  display: flex;
  flex-direction: column;
}
.address {
  margin-top: 1px;
}
.purple {
  border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
}
.return__shipp {
  margin-top: 12px;
  padding: 8px 8px 12px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  background-color: #f6f6fa;
  border-radius: 8px;
}
.return__shipp img {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}
.card__payment__img {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.card__payment__img img {
  margin-right: 8px;
}
/* checkbox__payment */
.check__block {
  height: 66px;
  margin-top: 12px;
  padding: 10px 8px 12px;
  border-radius: 8px;
  background-color: #f6f6fa;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.check__payment {
  display: flex;
  align-items: center;
}
.check__payment .checkbox_container {
  height: fit-content;
  margin-top: -3px;
  margin-right: 8px;
}
.check__block span {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.card__price__block button {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  padding: 12px;
  margin-top: 24px;
  margin-bottom: 12px;
  color: #fff;
  background-color: #cb11ab;
  border-radius: 8px;
  box-sizing: border-box;
  border: none;
}

.agreement img {
  width: 13px;
  height: 24px;
  align-self: flex-start;
  box-sizing: border-box;
  margin-right: 8px;
  margin-top: -2px;
}
.agreement {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.agreement div span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Mobile */
@media screen and (max-width: 530px) {
  .card__price {
    margin-top: 32px;
    width: 100%;
  }
  .transport h4 img {
    height: fit-content;
  }
  .card__price__block {
    background-color: inherit;
    border: none;
    box-shadow: none;
  }
  .return__shipp {
    background-color: #f0ecf4;
  }
  .card__payment h4,
  .card__payment__img {
    display: none;
  }
  .card__payment .check__block {
    background-color: #f0ecf4;
  }
}
