/* label контейнер */
.checkbox_container {
  display: block;
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  font-size: 22px;
  margin-top: 37.5px;
  margin-left: -1px;
  align-self: flex-start;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Скрываем штатный checkbox */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Создаём свой checkbox */
.checkbox_checkmark {
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #ccc;
}

/* При наведении мышкой, добавим background */
.checkbox_container:hover input ~ .checkbox_checkmark {
  background-color: #ccc;
}

/* Когда checkbox отмечен, добавим синий background */
.checkbox_container input:checked ~ .checkbox_checkmark {
  background-color: #cb11ab;
  border: 2px solid #cb11ab;
}

/* Создадим индикатор, который скрыт, если не отмечен */
.checkbox_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Покажем индикатор, когда отмечен */
.checkbox_container input:checked ~ .checkbox_checkmark:after {
  display: block;
}

/* Оформление индикатора */
.checkbox_container .checkbox_checkmark:after {
  content: url("../images/path stroke.svg");
  width: 12.48px;
  height: 10.16px;
  position: absolute;
  left: 4.26px;
  top: -6.5px;
}
.all {
  height: auto;
  margin-top: 0;
}

/* Mobile */
@media screen and (max-width: 530px) {
  .prod__info {
    position: relative;
  }
  .checkbox_container {
    position: absolute;
    top: -34px;
    left: 16px;
  }
}
