form {
  font-family: "Segoe UI";
}
.inputs__block {
  display: flex;
  width: 80%;
}
form div:nth-child(2) {
  margin-bottom: 16px;
}
.inputs__block input:not(:last-child) {
  margin-right: 24px;
}
.inputs__block input {
  font-family: "Segoe UI";
  padding: 3px 0;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #9797af;
  outline: none;
  width: 100%;
}
form > h4 {
  font-size: 18px;
  margin-bottom: 16px;
}
#buy{
  cursor: pointer;
}
.active{
  border-bottom: 2px solid red !important;
}
.active::placeholder{
  color: red;
}
/* laptop */
@media screen and (max-width: 1024px) {
  .inputs__block {
    width: 100%;
  }
}

/* Mobile */
@media screen and (max-width: 530px) {
  .inputs__block {
    flex-direction: column;
    width: 100%;
  }
  .inputs__block input {
    height: 56px;
    width: 100%;
  }
  form div:nth-child(2) {
    margin-bottom: 0px;
  }
}
