form {
  font-family: "Segoe UI";
}
.form__item {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.inputs__block {
  display: flex;
  width: 83%;
  justify-content: flex-start;
}
.inputs__user{
  margin-bottom: 12px;
}
.form__item:not(:last-child) {
  margin-right: 24px;
}
.form__item input {
  font-family: "Segoe UI";
  padding: 3px 0 5px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #9797af;
  outline: none;
  width: 100%;
}
.form__item label {
  font-size: 16px;
  color: #9797af;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: -3px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 40px;
  transition: 0.3s;
}
.form__item span {
  font-size: 12px;
  font-weight: 400;
  visibility: hidden;
}
.form__item input:focus ~ label,
.form__item input:not(:focus):valid ~ label {
  top: -25px;
  font-size: 13px;
}
form > h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 30px;
}
#buy {
  cursor: pointer;
}
.active {
  border-bottom: 2px solid red !important;
}
.active ~ label {
  color: red;
}
.active ~ span {
  visibility: visible !important;
  color: red;
}
/* laptop */
@media screen and (max-width: 1024px) {
  .inputs__block {
    width: 100%;
  }
}

/* Mobile */
@media screen and (max-width: 530px) {
  .inputs__block {
    flex-direction: column;
    width: 100%;
  }
  .inputs__block input {
    width: 100%;
    margin-bottom: 45px;
  }
  form div:nth-child(2) {
    margin-bottom: 0px;
  }
}
