header {
  width: 95%;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
}

.menu {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu > div {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 8px;
  padding: 12px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.menu > h3 {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  line-height: 24px;
  margin-left: 16px;
  width: 120px;
}

.input__block {
  width: 68%;
  align-self: center;
  margin: 0 auto;
  position: relative;
}
.input__block,
.h__basket {
  position: relative;
}
.input__block input {
  width: 100%;
  color: #fff;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
}

.input__block input::placeholder {
  color: #fff;
  opacity: 0.5;
}

.input__block img {
  position: absolute;
  top: 8px;
  right: -25px;
}
.h__basket span:nth-child(1) {
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 10px;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -3px;
  right: 5px;
  background-color: #f55123;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons {
  width: 170px;
  height: 56px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.icons > div {
  height: 60px;
  display: flex;
  color: #fff;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
}

.icons > div:nth-child(1) > img {
  height: 30px;
}

.icons > div:nth-child(2) > img {
  height: 30px;
}

/* laptop */
@media screen and (max-width: 1024px) {
  .input__block {
    width: 48%;
  }
}
@media screen and (max-width: 1300px) {
  .input__block {
    width: 55%;
  }
}

/* Mobile */
@media screen and (max-width: 530px) {
  header {
    margin: 0;
  }
  .menu div {
    padding: 0;
    margin-left: 13px;
    margin-right: 16px;
  }
  .menu div img {
    width: 24px;
  }
  .menu h3 {
    font-size: 24px;
    width: 80%;
    margin-left: 1px;
  }
  .input__block {
    width: 10%;
  }
  .input__block input,
  .icons {
    display: none;
  }
  .input__block img {
    width: 28px;
    height: 28px;
    filter: white;
    top: -12px;
    right: -10px;
  }
}
