body {
    margin: 0;
    font-family: "Segoe UI";
    background-color: #6725A8;
}

main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 34px 24px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #fff;
}

.products {
    width: 65%;
}

.card__price {
    width: 28%;
}

/* see-all */
.see__all {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

}

.see__all>img {
    width: 16px;
    height: 10px;
}

.see__all>div {
    display: flex;
    justify-content: space-between;
}

/* prod-cards */
.prod__cards {
    display: flex;
    justify-content: space-between;
}

.prod__info {
    display: flex;
    align-items: center;
}

.prod_img {
    width: 72px;
    height: 96px;
    object-fit: cover;
}

/* amount */
.prod__amount{
    display: flex;
}
.amount{
    width: 100px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    background-color: gray;
}
.amount div{
    width: 30%;
    margin: auto;
    text-align: center;
}
.prod__all__info {
    margin-left: 30px;
    line-height: 30px;
    font-size: 13px;
}

.prod__all__info p {
    font-size: 16px;
}

.prod__color {
    margin-right: 16px;
}

.producer {
    color: #8A898E;
}