body {
  margin: 0;
  font-family: "Segoe UI";
  background-color: #6725a8;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 34px 24px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgb(246, 246, 250);
}
.green {
  color: #0cb477;
}
.purple {
  width: fit-content;
  color: #cb11ab;
}
.products {
  width: 65%;
}

.card__price {
  width: 28%;
}

/* see-all */
.see__all {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.see__all > img {
  width: 16px;
  height: 10px;
}

.see__all > div {
  display: flex;
  justify-content: space-between;
}

/* prod-cards */
.prod__cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.prod__info {
  width: 400px;
  word-wrap: break-word;
  display: flex;
}
.prod__header {
  width: 275px;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 24px;
}
.prod__img {
  margin: 11px 16px 0 12px;
  align-self: flex-start;
  width: 72px;
  height: 96px;
  object-fit: cover;
}
.img_sold {
  filter: grayscale(100%);
}

/* amount */
.prod__amount {
  width: 226px;
  display: flex;
  justify-content: space-between;
  margin: 8px 0 0;
}
.amount {
  width: 100px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}
.amount div {
  width: 30%;
  margin: auto;
  text-align: center;
}
.balance {
  color: red;
  font-size: 13px;
}
.prod__like__delete {
  margin-top: 8px;
  text-align: end;
}
.prod__like__delete img:nth-child(2) {
  margin-left: 16px;
}
.prod__all__info {
  padding-top: 12px;
  line-height: 28px;
  font-size: 13px;
  box-sizing: border-box;
}

.prod__size {
  font-size: 13px;
}

.prod__color {
  font-size: 13px;
  margin-right: 16px;
}
.producer_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 20px;
  height: 36px;
}
.producer {
  font-size: 13px;
  color: #8a898e;
}

.prod__price {
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
}
.prod__price h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 16px;
}
.prod__price h3 span {
  font-size: 16px;
}
.old__price {
  font-size: 13px;
  color: #8a898e;
  text-decoration: line-through;
  border-bottom: 1px #8a898e;
  border-bottom-style: dashed;
}

/* absent */
.absent__header {
  margin-top: 37.5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.absent__header {
  width: 100%;
  margin-top: 40px;
}

/* footer */

footer{
  font-family: "Segoe UI";
  text-align: center;
  padding: 24px 0;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .input__block{
    width: 48%;
  }
}