body {
    margin: 0;
    font-family: "Segoe UI";
    background-color: #6725A8;
}

main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 34px 24px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #fff;
}


.products{
    width: 65%;
}
.card__price{
    width: 28%;
}
.see__all{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.1);
}
.see__all>img{
    width: 16px;
    height: 10px;
}
.see__all>div{
    display: flex;
    justify-content: space-between;
}